fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
passlib==1.7.4
bcrypt==4.0.1
cryptography
celery
redis
python-multipart
websockets
python-jose
alembic
email-validatoraiofilessupabase
postgrest
gotrue
storage3google-generativeai
langchain
langgraph